<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Books</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- bootstrap links -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <!-- Link the JS file -->
  <script src="../JS/Index.js" type="text/javascript"></script>
</head>
<body>

<div id="nav-placeholder">

</div>
<!-- div for responsive design -->
<div class="container-fluid" id="text">

  <!-- heading for the section -->
  <div class="section-heading">
    <h1>My Books</h1>
  </div>


  <!-- grid of book cards for checked out -->
  <section class="events">
    <div class="container">
      <div class="row">
        <h2 class="float-left">Checked Out</h2>
            <div class="row text-center">
              <div class="col-6 col-sm-4 col-md-3">
                <div class="card">
                  <div class="card-body smallTextBold">
                    <p class="smallTextBold">Due: 02/06/2023</p>
                    <a href="#">
                      <img class="card-img-top book-image" src="../img/checkedoutbook1.jpg" alt="Roses, in the Mouth of a Lion">
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-6 col-sm-4 col-md-3">
                <div class="card">
                  <div class="card-body smallTextBold">
                    <p>Due: 02/06/2023</p>
                    <a href="#">
                      <img class="card-img-top book-image" src="../img/checkedoutbook2.jpg" alt="Grocery Shopping with my Mother">
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-6 col-sm-4 col-md-3">
                <div class="card">
                  <div class="card-body smallTextBold">
                    <p>Due: 02/10/2023</p>
                    <a href="#">
                      <img class="card-img-top book-image" src="../img/checkedoutbook3.jpg" alt="The Seamstress of Sardinia">
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-6 col-sm-4 col-md-3">
                <div class="card">
                  <div class="card-body smallTextBold">
                    <p>Due: 02/14/2023</p>
                    <a href="#">
                      <img class="card-img-top book-image" src="../img/checkedoutbook4.jpg" alt="All the Dark Places">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
  </section>

  <!-- recently read section -->
  <section class="events">
    <div class="container">
      <div class="row">
        <h2 class="float-left">Recently Read</h2>
        <div class="row text-center">
          <div class="col-6 col-sm-4 col-md-3">
            <div class="card">
              <div class="card-body smallTextBold">
                <p class="smallTextBold">Your Rating: 3/5</p>
                <a href="#">
                  <img class="card-img-top book-image" src="../img/readbook1.jpg" alt="Frozen by Lies">
                </a>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-4 col-md-3">
            <div class="card">
              <div class="card-body smallTextBold">
                <p>Your Rating: 4/5</p>
                <a href="#">
                  <img class="card-img-top book-image" src="../img/readbook2.jpg" alt="Witcha Gonna Do">
                </a>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-4 col-md-3">
            <div class="card">
              <div class="card-body smallTextBold">
                <p>Your Rating: 1/5</p>
                <a href="#">
                  <img class="card-img-top book-image" src="../img/readbook3.jpg" alt="Rogues">
                </a>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-4 col-md-3">
            <div class="card">
              <div class="card-body smallTextBold">
                <p>Your Rating: 5/5</p>
                <a href="#">
                  <img class="card-img-top book-image" src="../img/readbook4.jpg" alt="The Waste Land">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Placeholder for the footer that will be loaded via JS -->
<div id="footer-placeholder">

</div>

</body>
</html>